body{
    background: greenyellow;
    font: 14px/20px Ariel, San-Serif;
    margin: 0; /* margin 0 so that elements dont have dead white space
                 around them */
}

h1{
    text-align: center;
    font-size: 180%;
    line-height: 120%;
    padding: 5% 0;
}
p{
    text-align: center;
}

header{
    background-color: red;
    opacity: 0.50;
    top: 0;
    left: 10%;
    text-align: center;
    width: 90%;
    height: 86px;
}
nav{
        /* makes it so that the navigation link is a block,
           no space between it and the top of the page. */
    display: inline-block;

}
aside{
    background-color: greenyellow;
}
section{
    text-align: center;
}
ul{
/*removes bullet points from unordered lists.*/
list-style: none;
}
li{
    /*float: left with the display in block is one way to make the
    menu items horizontal*/
    text-align: center;
     display: inline;
    font-size: 150%;
}
ol{
    text-align: center;
}
img{
    padding: 0px 400px 0px; /* i used this padding in order to push
                             the image to the center since the text
                              align didnt work. */
}

#leftkant{
    background-color: dodgerblue;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 90%;
    right: 0;
    z-index: -1;/* z-index is about stack elements, it basicly makes it so that
                the color blue stays infront of the background color green;*/
}
#rightkant {
    background-color: dodgerblue;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 90%;
    z-index: -1;
}


